extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 My Portfolio 

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Have a look at all the amazing work I've done thus far! 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        project.cell 
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, height = '250px', width = '250px', alt = `Screenshot of ${project.project_name}` Project)
            .centered_text      
              h6= project.project_name
    