extends layout

block content 
    article.portfolio-intro
    h1.error-h1 Oops!
        p We can't seem to find the page you're looking for.
        p Error code: #{err}
    nav.nav
      a(href='/')
        span &larr;
        |  Back